<%- include('../partials/header') %>    
<h1>All Dishes Of The Day</h1>
    <div class="allDishesOfTheDay">
        <% if (dishesODD.length > 0) { %>
            <% dishesODD.forEach(function(dish) { %>
                <label>Price:</label>
                <input type="number" name="price" value="<%= dish.price %>" disabled><br>
                <label>Availability starts:</label>
                <input type="datetime" name="availability_start" value="<%= dish.availability_start %>" disabled><br>
                <label>Availability ends:</label>
                <input type="datetime" name="availability_end" value="<%= dish.availability_end %>" disabled><br>
                <label>Total Portions:</label>
                <input type="number" name="totalPortions" value="<%= dish.totalPortions %>" disabled><br>
                <a href="/dishes/dishesoftheday/<%=dish._id %>"> details</a>
                <a href="/dishes/dishesoftheday/<%=dish._id %>/edit"> edit</a>
                <a href="/dishes/dishesoftheday/<%=dish._id %>/delete"> delete</a>
            <% }); %>
        <% } else { %>
            <h1>No dishes of the day published yet...</h1>
        <% } %>
        <a href="/dishes/dishesoftheday/new"> new</a>
    </div>
<%- include('../partials/footer') %>