<%- include('../partials/header') %>
    <div class="allUDO">
        <div>Delete Order</div>
    </div>  
    <%- include('../partials/dish') %>
    <div class="allOrders">
        <form method="POST" action="/orders/<%= order._id %>?_method=DELETE">
            <div class="order-details">
                <div>Quantity :<%= order.quantity %></div>
                <div>Pickup time: <%= pickup_time %></div>
                <div>Allergies: <%= order.allergies %></div><br>
                <input id="deleteOrderButton" type="submit" value="Delete Order">
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>