<%- include('../partials/header') %>    
<h1>Delete Order</h1>
    <%- include('../partials/dish') %>
    <div class="allOrders">
        <form method="POST" action="/orders/<%= order._id %>?_method=DELETE">
            <div class="order-details">
                <div>Quantity :<%= order.quantity %></div>
                <div>Pickup time: <%= pickup_time %></div>
                <div>Allergies: <%= order.allergies %></div>
                <input id="deleteOrderButton" type="submit" value="Delete Order">
            </div>
        </form>
            <a href="/orders"> Cancel</a>
    </div>
<%- include('../partials/footer') %>