<%- include('../partials/header') %>
    <div class="allUDO">
        <div>Edit Order</div>
    </div>  
    <%- include('../partials/dish') %>
    <div class="allOrders">
        <form action="/orders/<%= order._id %>" method="POST">
            <div class="order-details">
                <div>Quantity:</div>
                <input type="number" name="quantity" value="<%= order.quantity %>" required >
                <div>Pickup time:</div>
                <input type="datetime-local" name="pickup_time" value="<%= pickup_time %>" >
                <div>Allergies:</div>
                <input type="text" name="allergies" value="<%= order.allergies %>" ><br>
                <input id="editOrderButton" type="submit" value="Save Order">
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>