<%- include('../partials/header') %>    
<h1>All Orders</h1>
    
        <% if (orders.length > 0) { %>
            <% orders.forEach(function(o, idx) { %>
                <div class="allOrders">
                    <div class="order-details">
                        <div>Quantity: <%= o.quantity %></div>
                        <div>Pickup time: <%= pickup_times[idx] %></div>
                        <div>Allergies: <%= o.allergies %></div>
                    </div>
                    <div class="quick-nav-links">
                        <a href="/orders/<%=o._id %>"> details</a>
                        <a href="/orders/<%=o._id %>/edit"> edit</a>
                        <a href="/orders/<%=o._id %>/delete"> delete</a>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <h1>No orders yet...</h1>
        <% } %>
<%- include('../partials/footer') %>