<%- include('../partials/header') %>
    <div class="allUDO">
        <div>All Orders</div>
    </div>
        <% if (orders.length > 0) { %>
            <% orders.forEach(function(o, idx) { %>
                <div class="allOrders">
                    <div class="order-details">
                        <div>Quantity: <%= o.quantity %></div>
                        <div>Pickup time: <%= pickup_times[idx] %></div>
                        <div>Allergies: <%= o.allergies %></div><br>
                    </div>
                    <div class="quick-nav-links">
                        <a href="/orders/<%=o._id %>"> details</a>
                        <% if(user.email == o.user_id){ %> 
                            <a href="/orders/<%=o._id %>/edit"> edit</a>
                            <a href="/orders/<%=o._id %>/delete"> delete</a>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="no-data">No orders yet...</div >
        <% } %>
<%- include('../partials/footer') %>