<%- include('../partials/header') %>    
<h1>Orders details</h1>
    <div class="detailOrder">
        <%- include('../partials/dish') %>
            <div class="allOrders">
            <div class="order-details">
                <div>Quantity: <%= order.quantity %></div>
                <div>Pickup time: <%= pickup_time %></div>
                <div>Allergies: <%= order.allergies %></div>
            </div>
            <div class="quick-nav-links">
                <a href="/orders/<%=order._id %>/edit"> edit</a>
                <a href="/orders/<%=order._id %>/delete"> delete</a>
                <a href="/dishes/<%=order.dish_id %>"> Go to Dish</a>
            </div>
        </div>
    </div>
<%- include('../partials/footer') %>