<%- include('../partials/header') %>    
<h1>Delete Dish</h1>
    <div class="allDishes">
        <form method="POST" action="/dishes/<%= dish._id %>?_method=DELETE">
            <% if(dish.picture){ %>
                <img src="<%= dish.picture %>" height="150" width="150">
            <% } else { %>
                <img src="https://i.imgur.com/seGjXGn.jpg" height="150" width="150"><br>
            <% } %>
            <div class="dish-details">
                <div>Picture: <%= dish.picture %></div>
                <div>Description: <%= dish.description %></div>
                <div>Type: <%= dish.type %></div>
                <div>Price: $<%= dish.price %></div>
                <div>Availability</div>
                <div><%= av_date_s %> -></div>
                <div><%= av_date_e %></div>
                <div>Total Portions :<%= dish.totalPortions %></div>
                <div>cooker_id :<%= dish.user_id %></div>
                <% if (user._id.equals(gUser && gUser._id)) { %>
                <input id="deleteDishButton" type="submit" value="Delete Dish">
                <% } %>
            </div>
        </form>
    </div>
<%- include('../partials/footer') %>