<%- include('../partials/header') %>    
<h1>Dish details</h1>
    <div class="detailDish">
        <label>Picture:</label>
        <label><%= dish.picture %></label><br>
        <label>Description:</label>
        <label><%= dish.description %></label><br>
        <label>Type:</label>
        <label><%= dish.type %></label><br>
        <label>Price:</label>
        <label><%= dish.price %></label><br>
        <label>Availability starts:</label>
        <label><%= dish.availability_start %></label><br>
        <label>Availability ends:</label>
        <label><%= dish.availability_end %></label><br>
        <label>Total Portions:</label>
        <label><%= dish.totalPortions %></label><br>
        <label>cooker_id:</label>
        <label><%= dish.user_id %></label><br>
        <a href="/dishes/<%=dish._id %>/edit"> edit</a>
        <a href="/dishes/<%=dish._id %>/delete"> delete</a>
        <a href="/dishes"> all dishes </a>
    </div>
<%- include('../partials/footer') %>