<%- include('../partials/header') %>
    <div class="allUDO">
        <div>Dish details</div>
    </div>  
    <div class="allDishes">
        <% if(dish.picture){ %>
            <img src="<%= dish.picture %>" height="150" width="150"><br>
        <% } else { %>
            <img src="https://i.imgur.com/seGjXGn.jpg" height="150" width="150"><br>
        <% } %>
        <div class="dish-details">
            <div class="dish-description"><%= dish.description %></div>        
            <div>Type:<%= dish.type %></div>
            <div>Price: $<%= dish.price %></div>
            <div>Availability:</div>
            <div><%= av_date_s %> -> </div>
            <div><%= av_date_e %></div>
            <div>Total Portions: <%= dish.totalPortions %></div>
            <div>cooker_id: <%= dish.user_id %></div><br>
        </div>
        <% if (user) { %>
            <div class="quick-nav-links">
                    <a href="/dishes/<%=dish._id %>/edit"> edit</a>
                    <a href="/dishes/<%=dish._id %>/delete"> delete</a>
                    <a href="/dishes/<%=dish._id %>/orders/new"> new Order</a>
                <a href="/dishes"> all dishes </a>
            </div>
            <div class = "comments-ratings">
                <form name="add-comment-form" action="/dishes/<%= dish._id %>/comment" method="POST">
                    <div><textarea rows="3" cols="34" name="text"></textarea></div>
                    <div>Rating: 
                        <select name="rating">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <input id="addCommentButton" type="submit" value="Add Comment and Rating">
                </form>
            </div>
        <% } %>
        <div class="display-all-comments">
            <% if(dish.comments.length) { %>
                <div class="comment-title">Comments and rating</div>
                <% dish.comments.forEach(function(c) {%>
                    <div class="comment-details">
                        <div><%= c.text %></div>
                        <div>Rating <%= c.rating %></div>
                        <div class="comment-date"><%= c.createdAt %></div>
                    </div>
                <% }); %>
            <% } else {%>
                <div class="no-data">No comments added yet</div>
            <% } %>
        </div>
    </div>
<%- include('../partials/footer') %>